<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<string>picture1</string>
			<string></string>
		</array>
		<key>name</key>
		<string>hkn</string>
		<key>title</key>
		<string>2月底去奥利洪岛看蓝冰</string>
		<key>vip</key>
		<true/>
		<key>time</key>
		<string>2017.02.20 - 2017.02.27</string>
		<key>address</key>
		<string>伊尔库兹克</string>
		<key>timeView</key>
		<string>time.png</string>
		<key>discussView</key>
		<string>discuss.png</string>
		<key>timelong</key>
		<string>11分钟前</string>
		<key>discuss</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>picture2</string>
		<key>name</key>
		<string>消弭</string>
		<key>title</key>
		<string>12月1号出发，5天吴哥自由行</string>
		<key>vip</key>
		<false/>
		<key>time</key>
		<string>2016.12.01 - 2016.12.05</string>
		<key>address</key>
		<string>暹粒</string>
		<key>timeView</key>
		<string>time.png</string>
		<key>discussView</key>
		<string>discuss.png</string>
		<key>timelong</key>
		<string>11分钟前</string>
		<key>discuss</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>picture3</string>
		<key>name</key>
		<string>YUMIii</string>
		<key>title</key>
		<string>明年3月7日台湾西部环岛游</string>
		<key>vip</key>
		<true/>
		<key>time</key>
		<string>2017.3.07 - 2017.03.09</string>
		<key>address</key>
		<string>台湾</string>
		<key>timeView</key>
		<string>time.png</string>
		<key>discussView</key>
		<string>discuss.png</string>
		<key>timelong</key>
		<string>11分钟前</string>
		<key>discuss</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>picture4</string>
		<key>name</key>
		<string>长长的路</string>
		<key>title</key>
		<string>2017年一月14-21日，菲律宾杜马盖地、薄荷岛7天游！</string>
		<key>vip</key>
		<false/>
		<key>time</key>
		<string>2017.01.14 - 2017.01.21</string>
		<key>address</key>
		<string>菲律宾</string>
		<key>timeView</key>
		<string>time.png</string>
		<key>discussView</key>
		<string>discuss.png</string>
		<key>timelong</key>
		<string>11分钟前</string>
		<key>discuss</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>picture5</string>
		<key>name</key>
		<string>Linda</string>
		<key>title</key>
		<string>欧洲瑞士十一日游</string>
		<key>vip</key>
		<false/>
		<key>time</key>
		<string>2017.01.05 - 2017.01.15</string>
		<key>address</key>
		<string>日内瓦</string>
		<key>timeView</key>
		<string>time.png</string>
		<key>discussView</key>
		<string>discuss.png</string>
		<key>timelong</key>
		<string>11分钟前</string>
		<key>discuss</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>picture6</string>
		<key>name</key>
		<string>hkn</string>
		<key>title</key>
		<string>2月底去奥利洪岛看蓝冰</string>
		<key>vip</key>
		<true/>
		<key>time</key>
		<string>2017.02.20 - 2017.02.27</string>
		<key>address</key>
		<string>伊尔库兹克</string>
		<key>timeView</key>
		<string>time.png</string>
		<key>discussView</key>
		<string>discuss.png</string>
		<key>timelong</key>
		<string>11分钟前</string>
		<key>discuss</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>picture7</string>
		<key>name</key>
		<string>消弭</string>
		<key>title</key>
		<string>12月1号出发，5天吴哥自由行</string>
		<key>vip</key>
		<false/>
		<key>time</key>
		<string>2016.12.01 - 2016.12.05</string>
		<key>address</key>
		<string>暹粒</string>
		<key>timeView</key>
		<string>time.png</string>
		<key>discussView</key>
		<string>discuss.png</string>
		<key>timelong</key>
		<string>11分钟前</string>
		<key>discuss</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>picture8</string>
		<key>name</key>
		<string>长长的路</string>
		<key>title</key>
		<string>2017年一月14-21日，菲律宾杜马盖地、薄荷岛7天游！</string>
		<key>vip</key>
		<true/>
		<key>time</key>
		<string>2017.01.14 - 2017.01.21</string>
		<key>address</key>
		<string>菲律宾</string>
		<key>timeView</key>
		<string>time.png</string>
		<key>discussView</key>
		<string>discuss.png</string>
		<key>timelong</key>
		<string>11分钟前</string>
		<key>discuss</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>picture9</string>
		<key>name</key>
		<string>Linda</string>
		<key>title</key>
		<string>欧洲瑞士十一日游</string>
		<key>vip</key>
		<false/>
		<key>time</key>
		<string>2017.01.05 - 2017.01.15</string>
		<key>address</key>
		<string>日内瓦</string>
		<key>timeView</key>
		<string>time.png</string>
		<key>discussView</key>
		<string>discuss.png</string>
		<key>timelong</key>
		<string>11分钟前</string>
		<key>discuss</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>picture10</string>
		<key>name</key>
		<string>hkn</string>
		<key>title</key>
		<string>2月底去奥利洪岛看蓝冰</string>
		<key>vip</key>
		<false/>
		<key>time</key>
		<string>2017.02.20 - 2017.02.27</string>
		<key>address</key>
		<string>伊尔库兹克</string>
		<key>timeView</key>
		<string>time.png</string>
		<key>discussView</key>
		<string>discuss.png</string>
		<key>timelong</key>
		<string>11分钟前</string>
		<key>discuss</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>picture2</string>
		<key>name</key>
		<string>Linda</string>
		<key>title</key>
		<string>欧洲瑞士十一日游</string>
		<key>vip</key>
		<true/>
		<key>time</key>
		<string>2017.01.05 - 2017.01.15</string>
		<key>address</key>
		<string>日内瓦</string>
		<key>timeView</key>
		<string>time.png</string>
		<key>discussView</key>
		<string>discuss.png</string>
		<key>timelong</key>
		<string>11分钟前</string>
		<key>discuss</key>
		<string>0</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>picture11</string>
		<key>name</key>
		<string>hkn</string>
		<key>title</key>
		<string>2月底去奥利洪岛看蓝冰</string>
		<key>vip</key>
		<true/>
		<key>time</key>
		<string>2017.02.20 - 2017.02.27</string>
		<key>address</key>
		<string>伊尔库兹克</string>
		<key>timeView</key>
		<string>time.png</string>
		<key>discussView</key>
		<string>discuss.png</string>
		<key>timelong</key>
		<string>11分钟前</string>
		<key>discuss</key>
		<string>0</string>
	</dict>
</array>
</plist>
