<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>女神</key>
	<string>女神！你造吗，我好稀罕你.. </string>
	<key>嗨</key>
	<string>来！哥带你装逼带你飞</string>
	<key>他</key>
	<string>他这样的码代码，也是蛮拼的</string>
	<key>我</key>
	<string>只想安静地当一个美男子！</string>
	<key>那</key>
	<string>那画面太美，我不敢看...</string>
	<key>看</key>
	<string>看到你这样，我也是醉了...</string>
	<key>你</key>
	<string>你们城里人就是会玩！</string>
	<key>睡</key>
	<string>睡你麻痹，起来嗨！</string>
	<key>放</key>
	<string>放开那代码，让我来！</string>
	<key>有</key>
	<string>有钱，就是任性！</string>
	<key>爱</key>
	<string>爱是深深的喜欢</string>
	<key>喜</key>
	<string>喜欢是淡淡的爱</string>
</dict>
</plist>
